
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/headline.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/fonts.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/owl.theme.default.min.css">
	<link rel="Icon" type="text/css" href="images/logo.jpg">
	<link rel="stylesheet" type="text/css" href="stylesheets/all.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/media.css">
</head>
<body>
	<section class="about d-inline-block w-100 position-relative" id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-7">
					<div class="sec-heading">
						<span class="about-sec1">ABOUT ME</span>
						<h2 class="about-heading">Hello! I am Niraj sutariya</h2>
					</div>
					<div class="about-info">
						<p class="text1">I've worked on projects for major brands, agencies, startups, and charities both in-house and remotely. I am passionate about developing high-quality, practical, and beautiful items that benefit people and make a difference. I can be as hands-on as you need me with your project, from the initial concept to sketching, creative direction, design, copywriting, system design, and even front-end and WordPress development.</p>
						 <div class="barWrapper">
 							<span class="progressText"><B>HTML5</B></span>
							<div class="progress">
  							<div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" >   
        					<span  class="popOver" data-toggle="tooltip" data-placement="top" title="85%"> </span> 
        					</div>
    						</div>
       					</div>
       					<div class="barWrapper">
 							<span class="progressText"><B>CSS3</B></span>
							<div class="progress">
  							<div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" >   
        					<span  class="popOver" data-toggle="tooltip" data-placement="top" title="55%"> </span> 
        					</div>
    						</div>
       					</div>
       					<div class="barWrapper">
 							<span class="progressText"><B>PHOTOSHOP</B></span>
							<div class="progress">
  							<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
     						<span  class="popOver" data-toggle="tooltip" data-placement="top" title="70%"> </span>  
  							</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-5">
					<div class="about-image position-relative">
						<img src="images/about.jpg" width="100%">
						<div class="about-image-overlay"></div>
					</div>
				</div>
			</div>
		</div>	
	</section>
</body>
</html>




