<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/headline.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/fonts.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/owl.theme.default.min.css">
	<link rel="Icon" type="text/css" href="images/logo.jpg">
	<link rel="stylesheet" type="text/css" href="stylesheets/all.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/media.css">
</head>
<body>
<section class="contact padding-style1" id="contact">
	<div class="container">
	<div class="row justify-content-center">
 			<div class="sec-heading2">
				<span class="contacct-span">CONTACT ME</span>
 				<h2 class="contact-heading">Get In Touch</h2>
 			</div>
 		</div>
 		 </div>
 		<div class="contact-content">
 			<div class="container">
 				<div class="row">
 					<div class="col-lg-6 col-md-12 col-sm-12">
 						<div class="contact-detail">
 							<h6>Contact</h6>
 							<p class="contact-text">Contact me for any queries or work.</p>
 							<p class="address">
 								<i class="fa fa-map-marker" aria-hidden="true"></i>
 								<span>Address:</span>
 								<a href="https://www.google.com/maps"><span class="address-loc">kitchener,ontario,canada.</span></a>
 							</p>
 							<p class="phone">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>Contact no:</span>
                                <a href="tel:+999000000">+199000000</a>
                            </p>
                            <p class="email">
                                <i class="fas fa-envelope" aria-hidden="true"></i>
                                <span>Email:</span>
                                <a href="https://myaccount.google.com/?utm_source=sign_in_no_continue">nirajsutariya7@gmail.com</a>
                            </p>
                            <p>
                                <i class="fa fa-globe" aria-hidden="true"></i>
                                <span>Website:</span><a href="#">www.abcd.com</a>
                            </p>
                            <div class="social-icons">
                                <p>Find:</p>
                                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://twitter.com/login?lang=en"><i class="fab fa-twitter"></i></a>
                                <a href="https://aboutme.google.com/u/0/?referer=gplus"><i class="fab fa-google"></i></a>
                                <a href="https://www.skype.com/en/"><i class="fab fa-skype"></i></a>
                                <a href="https://www.linkedin.com/signup/cold-join?session_redirect=https%3A%2F%2Fwww%2Elinkedin%2Ecom%2Fprofile%2Fview&trk=login_reg_redirect"><i class="fab fa-linkedin-in"></i></a>
                            </div>
 						</div>
 					</div>
 					<div class="col-lg-6 col-md-12 col-sm-12">
 						<div class="contact-form">
 							<form class="contact-form-area" action="contact.php" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" name="name" placeholder="Name" id="form-name" required="">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" name="email" placeholder="Email" id="form-email" required="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" name="subject" placeholder="Subject" id="form-subject" required="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <textarea placeholder="Type here" name="message" id="form-message" required=""></textarea>
                                        <input type="submit" class="submit-btn btn-style1 clearfix" value="Submit" id="contact-submit">
                                        <div class="result"></div>
                                    </div>
                                </div>
                            </form>
 						</div>
 					</div>
 				</div>
 			</div>
 		</div>
</section>
</body>



