<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Niraj's Portfolio</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/headline.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/fonts.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/owl.theme.default.min.css">
	<link rel="Icon" type="text/css" href="images/logo.jpg">
	<link rel="stylesheet" type="text/css" href="stylesheets/all.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/media.css">
</head>
<body>


	<div id="scroll-top-area" style="display: block;">
        <a href="#"><span>Scroll Top</span><i class="fas fa-arrow-right"></i></a>
    </div>
<!-- *******************header******************* -->
<div id="header"></div>
	<header class="header navbar navbar-expand-md">
		<div class="container">
			<a href="index.html" class="logo navbar-brand">
				<h2 class="text" >Niraj's Portfolio</h2>
				<!-- <img src="images/logowhite.png" data-dark="image/logowhite.png"> -->
			</a>
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#menu"><i class="fas fa-bars"></i></button>
			<nav class="collapse navbar-collapse navbar-nav1 justify-content-end" id="menu">
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<a href="#home" class="nav-link" id="col">Home</a>
					</li>
					<li class="nav-item dropdown">
						<a href="#about" class="nav-link" id="col">About Me</a>
					</li>
					<li class="nav-item dropdown">
						<a href="#services" class="nav-link" id="col">Services</a>
					</li>
					<li class="nav-item dropdown">
						<a href="#portfolio" class="nav-link" id="col">Projects</a>
					</li>
					<li class="nav-item dropdown">
						<a href="#testimonial" class="nav-link" id="col">Details</a>
					</li>
					<li class="nav-item dropdown">
						<a href="#contact" class="nav-link" id="col">Contact</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
<!-- *******************banner******************* -->
	<section class="banner w-100 position-relative">
		<div class="banner-overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<section class="cd-intro">
   						<h1 class="cd-headline letters type heading-main">
      						<span>I'm </span>
      						<span class="cd-words-wrapper">
         						<b class="is-visible">Niraj Sutariya</b>
         						<b>Designer</b>
         						<b>Developer</b>
     						</span>
   						</h1>
					<p class="text">As a developer and a designer I create websites and apps that match the requiremnets of the end users.</p>
					<ul class="banner-icon">
						<li>
							<a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
							<a href="https://twitter.com/login?lang=en"><i class="fab fa-twitter"></i></a>
							<a href="https://aboutme.google.com/u/0/?referer=gplus"><i class="fab fa-google"></i></a>
							<a href="https://www.skype.com/en/"><i class="fab fa-skype"></i></a>
							<a href="https://www.linkedin.com/signup/cold-join?session_redirect=https%3A%2F%2Fwww%2Elinkedin%2Ecom%2Fprofile%2Fview&trk=login_reg_redirect"><i class="fab fa-linkedin-in"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>	
	</section>
	
<!-- *******************about******************* -->
	<section class="about d-inline-block w-100 position-relative" id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-7">
					<div class="sec-heading">
						<span class="about-sec1">ABOUT ME</span>
						<h2 class="about-heading">Hello! I am Niraj sutariya</h2>
					</div>
					<div class="about-info">
						<p class="text1">I've worked on projects for major brands, agencies, startups, and charities both in-house and remotely. I am passionate about developing high-quality, practical, and beautiful items that benefit people and make a difference. I can be as hands-on as you need me with your project, from the initial concept to sketching, creative direction, design, copywriting, system design, and even front-end and WordPress development.</p>
						 <div class="barWrapper">
 							<span class="progressText"><B>HTML5</B></span>
							<div class="progress">
  							<div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" >   
        					<span  class="popOver" data-toggle="tooltip" data-placement="top" title="85%"> </span> 
        					</div>
    						</div>
       					</div>
       					<div class="barWrapper">
 							<span class="progressText"><B>CSS3</B></span>
							<div class="progress">
  							<div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" >   
        					<span  class="popOver" data-toggle="tooltip" data-placement="top" title="55%"> </span> 
        					</div>
    						</div>
       					</div>
       					<div class="barWrapper">
 							<span class="progressText"><B>PHOTOSHOP</B></span>
							<div class="progress">
  							<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
     						<span  class="popOver" data-toggle="tooltip" data-placement="top" title="70%"> </span>  
  							</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-5">
					<div class="about-image position-relative">
						<img src="images/about.jpg" width="100%">
						<div class="about-image-overlay"></div>
					</div>
				</div>
			</div>
		</div>	
	</section>

<!-- *******************services******************* -->
	<section class="services d-inline-block w-100 position-relative" id="services">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="sec-heading1">
						<span class="services-sec">WHAT I DO</span>
						<h2 class="services-heading">My Services</h2>
						<div class="services-info">
							<p class="text">I develop Android applications, UI-UX design, Website design and developing, Logo making, Photoshop, Website content writing, Digital and social marketing etc. </p>
							<a href="#" class="btn-style3 service-btn">SEE MY WORKS</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="owl-carousel owl-theme">
						<div class="item">
							<div class="service-box">
								<div class="service-item">
									<span><i class="fas fa-camera"></i></span>
									<p class="content-title">Photoshop</p>
									<div class="text1">
									<p>Any designing works, Logo making etc.</p></div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="service-box">
								<div class="service-item">
									<span><i class="fas fa-cube"></i></span>
									<p class="content-title">Digital marketing</p>
									<div class="text1">
									<p>Digital and social marketing</p></div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="service-box">
								<div class="service-item">
									<span><i class="fas fa-leaf"></i></span>
									<p class="content-title">UI-UX designing</p>
									<div class="text1">
									<p>I've done many international clients' work.</p></div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="service-box">
								<div class="service-item">
									<span><i class="fas fa-pen"></i></span>
									<p class="content-title">Web Design and Development</p>
									<div class="text1">
									<p>end to end website making</p></div>
								</div>
							</div>
						</div>
					</div>
				<!-- 	<button role="button" class="owl-dot active"><span><i class="fas fa-arrow-left"></i></span></button> -->
					<!-- <div class="owl-nav">
						<div class="owl-prev">
							<span class="icons">
							<i class="fas fa-arrow-left"></i></span>
						</div>
					</div> -->
					</div>
					</div>
				</div>
			</div>
		</div>
	</section>

<!-- *******************portfolio******************* -->
	<section class="portfolio d-inline-block w-100 position-relative" id="portfolio">
		<div class="container">
			<div class="row justify-content-center">
				<div class="sec-heading">
					<span class="portfolio-sec">SEE MY WORKS</span>
					<h2 class="portfolio-heading">Portfolio</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="portfolio-content-head">
						<div align="center">
            				<button class="btn btn-default filter-button" data-filter="all">All</button>
            				<button class="btn btn-default filter-button" data-filter="hdpe">DESIGNING</button>
            				<button class="btn btn-default filter-button" data-filter="sprinkle">DEVELOPEMENT</button>
            				<button class="btn btn-default filter-button" data-filter="sprinkle">APP DEVELOPEMENT</button>
            				<!-- <button class="btn btn-default filter-button" data-filter="spray">PHOTOGRAPHY</button> -->
        				</div>
					</div>
				</div>

				<div class="col-md-12 col-sm-12">
					<div class="portfolio-content-items">
						<div class="row">
							<div class="col-md-4 col-sm-6 col-xs-12 filter hdpe">
								<div class="portfolio-item">
									<div class="portfolio-img">
										<img src="images/img1.jpg" width="100%"> 
									</div>
									<div class="portfolio-overlay">
										<div class="overlay-content">
											<div class="overlay-content-item">
												<p class="category">DESIGN</p>
												<a href="#">
													<div class="magnify-icon">
														<p>
															<span><i class="fas fa-link"></i></span>
														</p>
													</div>
												</a>
												<a href="#">
													<div class="magnify-icon">
														<p>
															<span><i class="fas fa-search"></i></span>
														</p>
													</div>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 filter sprinkle">
								<div class="portfolio-item">
									<div class="portfolio-img">
										<img src="images/img2.jpg" width="100%"> 
									</div>
									<div class="portfolio-overlay">
										<div class="overlay-content">
											<div class="overlay-content-item">
												<p class="category">DESIGN</p>
												<a href="#">
													<div class="magnify-icon">
														<p>
															<span><i class="fas fa-link"></i></span>
														</p>
													</div>
												</a>
												<a href="#">
													<div class="magnify-icon">
														<p>
															<span><i class="fas fa-search"></i></span>
														</p>
													</div>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 mix filter sprinkle">
								<div class="portfolio-item">
									<div class="portfolio-img">
										<img src="images/img3.jpg" width="100%"> 
									</div>
									<div class="portfolio-overlay">
										<div class="overlay-content">
											<div class="overlay-content-item">
												<p class="category">DESIGN</p>
												<a href="#">
													<div class="magnify-icon">
														<p>
															<span><i class="fas fa-link"></i></span>
														</p>
													</div>
												</a>
												<a href="#">
													<div class="magnify-icon">
														<p>
															<span><i class="fas fa-search"></i></span>
														</p>
													</div>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 mix filter spray">
								<div class="portfolio-item">
									<div class="portfolio-img">
										<img src="images/img4.jpg" width="100%"> 
									</div>
									<div class="portfolio-overlay">
										<div class="overlay-content">
											<div class="overlay-content-item">
												<p class="category">DESIGN</p>
												<a href="#">
													<div class="magnify-icon">
														<p>
															<span><i class="fas fa-link"></i></span>
														</p>
													</div>
												</a>
												<a href="#">
													<div class="magnify-icon">
														<p>
															<span><i class="fas fa-search"></i></span>
														</p>
													</div>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 mix filter spray">
								<div class="portfolio-item">
									<div class="portfolio-img">
										<img src="images/img5.jpg" width="100%"> 
									</div>
									<div class="portfolio-overlay">
										<div class="overlay-content">
											<div class="overlay-content-item">
												<p class="category">DESIGN</p>
												<a href="#">
													<div class="magnify-icon">
														<p>
															<span><i class="fas fa-link"></i></span>
														</p>
													</div>
												</a>
												<a href="#">
													<div class="magnify-icon">
														<p>
															<span><i class="fas fa-search"></i></span>
														</p>
													</div>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 mix design">
								<div class="portfolio-item">
									<div class="portfolio-img">
										<img src="images/img6.jpg" width="100%"> 
									</div>
									<div class="portfolio-overlay">
										<div class="overlay-content">
											<div class="overlay-content-item">
												<p class="category">DESIGN</p>
												<a href="#">
													<div class="magnify-icon">
														<p>
															<span><i class="fas fa-link"></i></span>
														</p>
													</div>
												</a>
												<a href="#">
													<div class="magnify-icon">
														<p>
															<span><i class="fas fa-search"></i></span>
														</p>
													</div>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

<!-- *******************personal details******************* -->


<section class="personal-detail">
	<div class="detail-container">
		<div class="personal-detail-content">
			<div class="detail-overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<div class="details-heading-area">
							<div class="detail-table-row">
								<div class="detail-table-cell">
									<h4>I provide the Best Quality</h4>
									<p>I've been doing this since 2017, and have been to two huge IT firms with the experience of 3+ years with customer satisfaction and quality management.</p>
									<a href="#contact" class="btn-style3 hire-btn">HIRE ME</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-12">
						<div class="detail-content-area padding-style2">
							<div class="detail-header">
								<p class="title-small">SEE MY DETAILS</p>
								<h4 class="section-title">My Resume</h4>
							</div>
							<div class="detail-contents">
								<nav>
                                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><i class="fas fa-briefcase"></i>Experience</a>
                                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="fas fa-graduation-cap"></i>Education</a>
                                        </div>
                                    </nav>
                                    <div class="tab-content detail-tab">
                                    	<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                            <div class="detail-item">
                                                <span class="deatil-year">2020-2021</span>
                                                <h6 class="deatil-title">Android Developer at lathiya infotech</h6>
                                                <p class="detail-text">I've created many android application as a full-time android developer.</p>
                                            </div>
                                            <div class="detail-item">
                                                <span class="deatil-year">2019-2020</span>
                                                <h6 class="deatil-title">Android Developer at intebility</h6>
                                                <p class="detail-text">I've created many android application as a full-time android developer.</p>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                            <div class="detail-item">
                                                <span class="deatil-year">2019</span>
                                                <h6 class="deatil-title">SDJ international college</h6>
                                                <p class="detail-text">I am graduated from SDJ international college as a computer application developer with higher rank.</p>
                                            </div>
                                            <div class="detail-item">
                                                <span class="deatil-year">From Fall 2021</span>
                                                <h6 class="deatil-title">Conestoga college</h6>
                                                <p class="detail-text">I am pursuing my PG-Diploma at conestoga college.</p>
                                            </div>
                                        </div>
                                    </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- *******************testimonial******************* -->

<section class="testimonial d-inline-block w-100 position-relative" id="testimonial">
	<div class="container">
			<div class="row justify-content-center">
				<div class="sec-heading">
					<span class="testimonial-sec">TESTIMONIAL</span>
					<h2 class="testimonial-heading">What People Say</h2>
				</div>
			</div>

		<div class="col-lg-12">
				<div class="slider1 owl-carousel owl-theme">
				<div class="item">
					<div class="testimonial-box">
						<div class="testimonial-item">
							<div class="client-image">
								<img src="images/test1.jpg">
							</div>
							<div class="testimonial-content">
								<div class="quote-text">
									<p>
										<i class="fas fa-quote-left"></i>
										<span class="testimonial-text">By working with Niraj Sutariya, I came to know about his excellent work and on time delivery.</span>
										<i class="fas fa-quote-right"></i>
									</p>
									<div class="client-identity">
										<p class="name">
											Nikunj Maniya- Co-founder of The hypertech technologies.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testimonial-box">
						<div class="testimonial-item">
							<div class="client-image">
								<img src="images/test2.jpg">
							</div>
							<div class="testimonial-content">
								<div class="quote-text">
									<p>
										<i class="fas fa-quote-left"></i>
										<span class="testimonial-text">As an employee, we found Niraj Sutariya a efficient learner, good team leader and achiever.</span>
										<i class="fas fa-quote-right"></i>
									</p>
									<div class="client-identity">
										<p class="name">
											Bhautik Lathiya - co-founder of lathiya infotech
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testimonial-box">
						<div class="testimonial-item">
							<div class="client-image">
								<img src="images/test3.jpg">
							</div>
							<div class="testimonial-content">
								<div class="quote-text">
									<p>
										<i class="fas fa-quote-left"></i>
										<span class="testimonial-text">My experience with Niraj was amazing, love his work and ethics and post delivery services.</span>
										<i class="fas fa-quote-right"></i>
									</p>
									<div class="client-identity">
										<p class="name">
											Chirag Vaghasiya - Owner of CM Solutions
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
		</div>
	</div>
</section>

<!-- *******************fun-fact******************* -->

<section class="fun-fact  d-inline-block w-100 position-relative">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 mb-5">
				<div class="fun-item">
					<div class="count item-one">
                            <h3><span class="counter">2+</span></h3>
                            <span class="count-underline"></span>
                            <h6>Awards Received</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
				<div class="fun-item">
					<div class="count item-one">
                            <h3><span class="counter">25+</span></h3>
                            <span class="count-underline"></span>
                            <h6>Projects Finished</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
				<div class="fun-item">
					<div class="count item-one">
                            <h3><span class="counter">15+</span></h3>
                            <span class="count-underline"></span>
                            <h6>Happy Clients</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
				<div class="fun-item">
					<div class="count item-one">
                            <h3><span class="counter">1000+</span></h3>
                            <span class="count-underline"></span>
                            <h6>Downloads</h6>
                    </div>
                </div>
            </div>
			</div>
		</div>
	</div>
</section>

<!-- *******************blog******************* -->

<section class="blog d-inline-block w-100 position-relative" id="blog">
	<div class="container">
		<div class="row justify-content-center">
				<div class="sec-heading">
					<span class="blog-sec">SEE MY BLOG</span>
					<h2 class="blog-heading">Latest News</h2>
				</div>
		</div>
		<div class="row">
				<div class="blog-single-item blog-item-margin row">
					<div class="blog-img left col-md-12 col-lg-6">
						<img src="images/blog-img1.jpg" width="100%">
					</div>
					<div class="blog-text col-md-12 col-lg-6">
						<p class="blog-title">Single Blog Post Title Goes Here</p>
						<p class="blog-detail"><span>Date:</span> 09-11-18  <span>|</span>  Posted By<span>  Kevin Weston</span></p>
						<p class="blog-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
						<a href="#" class="read-more">READ MORE</a>
						<i class="fas fa-angle-double-right"></i>
					</div>
				</div>
		</div>
		
		<div class="row">
				<div class="blog-single-item blog-item-margin row">
					<div class="blog-text col-md-12 col-lg-6">
						<p class="blog-title">Single Blog Post Title Goes Here</p>
						<p class="blog-detail"><span>Date:</span> 09-11-18  <span>|</span>  Posted By<span>  Kevin Weston</span></p>
						<p class="blog-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
						<a href="#" class="read-more">READ MORE</a>
						<i class="fas fa-angle-double-right"></i>
					</div>

					<div class="blog-img right col-md-12 col-lg-6">
						<img src="images/blog-img2.jpg" width="100%">
					</div>
				</div>
		</div>
	</div>
</section>

<!-- *******************newsletter******************* -->

<section class="newsletter d-inline-block w-100 position-relative">
	<div class="container">
		<div class="row">
			<div class="newsletter-form">
                <form id="mc-form">
                	<input type="email" id="mc-email" class="newsletter-email" placeholder="Type your email here" name="EMAIL" required="">
                	<button type="submit" class="submit-btn btn-style2">
                        <span>Subscribe</span>
                    </button>
                </form>  
            </div>
		</div>
	</div>
</section>


<!-- *******************contact******************* -->
<section class="contact padding-style1" id="contact">
	<div class="container">
	<div class="row justify-content-center">
 			<div class="sec-heading2">
				<span class="contacct-span">CONTACT ME</span>
 				<h2 class="contact-heading">Get In Touch</h2>
 			</div>
 		</div>
 		 </div>
 		<div class="contact-content">
 			<div class="container">
 				<div class="row">
 					<div class="col-lg-6 col-md-12 col-sm-12">
 						<div class="contact-detail">
 							<h6>Contact</h6>
 							<p class="contact-text">Contact me for any queries or work.</p>
 							<p class="address">
 								<i class="fa fa-map-marker" aria-hidden="true"></i>
 								<span>Address:</span>
 								<a href="https://www.google.com/maps"><span class="address-loc">kitchener,ontario,canada.</span></a>
 							</p>
 							<p class="phone">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>Contact no:</span>
                                <a href="tel:+999000000">+199000000</a>
                            </p>
                            <p class="email">
                                <i class="fas fa-envelope" aria-hidden="true"></i>
                                <span>Email:</span>
                                <a href="https://myaccount.google.com/?utm_source=sign_in_no_continue">nirajsutariya7@gmail.com</a>
                            </p>
                            <p>
                                <i class="fa fa-globe" aria-hidden="true"></i>
                                <span>Website:</span><a href="#">www.abcd.com</a>
                            </p>
                            <div class="social-icons">
                                <p>Find:</p>
                                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://twitter.com/login?lang=en"><i class="fab fa-twitter"></i></a>
                                <a href="https://aboutme.google.com/u/0/?referer=gplus"><i class="fab fa-google"></i></a>
                                <a href="https://www.skype.com/en/"><i class="fab fa-skype"></i></a>
                                <a href="https://www.linkedin.com/signup/cold-join?session_redirect=https%3A%2F%2Fwww%2Elinkedin%2Ecom%2Fprofile%2Fview&trk=login_reg_redirect"><i class="fab fa-linkedin-in"></i></a>
                            </div>
 						</div>
 					</div>
 					<div class="col-lg-6 col-md-12 col-sm-12">
 						<div class="contact-form">
 							<form class="contact-form-area" action="contact.php" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" name="name" placeholder="Name" id="form-name" required="">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" name="email" placeholder="Email" id="form-email" required="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" name="subject" placeholder="Subject" id="form-subject" required="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <textarea placeholder="Type here" name="message" id="form-message" required=""></textarea>
                                        <input type="submit" class="submit-btn btn-style1 clearfix" value="Submit" id="contact-submit">
                                        <div class="result"></div>
                                    </div>
                                </div>
                            </form>
 						</div>
 					</div>
 				</div>
 			</div>
 		</div>
</section>



<!-- *******************footer******************* -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="copyright">
					<p>Copyright © 2019 Niraj | All rights reserved</p>
				</div>			 	
			</div>
		</div>
	</div>
</footer>



<script src="javascripts/jquery-2.2.4.min.js"></script>
<script src="javascripts/popper.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/headline.js"></script>
<script src="javascripts/owl.carousel.min.js"></script>



<!-- *********************portfolio******************** -->
	<script type="text/javascript">
    $(document).ready(function(){

    $(".filter-button").click(function(){
        var value = $(this).attr('data-filter');
        
        if(value == "all")
        {
            //$('.filter').removeClass('hidden');
            $('.filter').show('1000');
        }
        else
        {
//            $('.filter[filter-item="'+value+'"]').removeClass('hidden');
//            $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
            $(".filter").not('.'+value).hide('3000');
            $('.filter').filter('.'+value).show('3000');
            
        }
    });
    
    if ($(".filter-button").removeClass("active")) {
$(this).removeClass("active");
}
$(this).addClass("active");

});
	</script>

<!-- ******************progressbar************* -->
<script type="text/javascript">
$(function () { 
  $('[data-toggle="tooltip"]').tooltip({trigger: 'manual'}).tooltip('show');
});  

// $( window ).scroll(function() {   
 // if($( window ).scrollTop() > 10){  // scroll down abit and get the action   
  $(".progress-bar").each(function(){
    each_bar_width = $(this).attr('aria-valuenow');
    $(this).width(each_bar_width + '%');
  });
       
 //  }  
// });
</script>

<!-- ******************smallslider************* -->
<script type="text/javascript">
	$('.slider1').owlCarousel({
    loop:true,
    margin:10,
    nav:false,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:2
        },
        1000:{
            items:3
        }
    }
})

	$('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:false,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:1
        },
        1000:{
            items:2
        }
    }
})
</script>


<!--***********counter************** -->
	<script type="text/javascript">
		$('.counter').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 4000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});
</script>
<!-- ***********header fixed*************** -->
<script type="text/javascript">
	$(document) .ready(function(){
		$(window) .scroll(function(){
			var header = $('header');
			var scroll = $(window).scrollTop();
			if(scroll > 300){
				header.addClass('fixed');
			}
			else{
				header.removeClass('fixed');
			}
		});
	});
</script>

</body>
</header>