<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/headline.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/fonts.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/owl.theme.default.min.css">
	<link rel="Icon" type="text/css" href="images/logo.jpg">
	<link rel="stylesheet" type="text/css" href="stylesheets/all.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/media.css">
</head>
<body>
<section class="portfolio d-inline-block w-100 position-relative" id="portfolio">
		<div class="container">
			<div class="row justify-content-center">
				<div class="sec-heading">
					<span class="portfolio-sec">SEE MY WORKS</span>
					<h2 class="portfolio-heading">Portfolio</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="portfolio-content-head">
						<div align="center">
            				<button class="btn btn-default filter-button" data-filter="all">All</button>
            				<button class="btn btn-default filter-button" data-filter="hdpe">DESIGNING</button>
            				<button class="btn btn-default filter-button" data-filter="sprinkle">DEVELOPEMENT</button>
            				<button class="btn btn-default filter-button" data-filter="sprinkle">APP DEVELOPEMENT</button>
            				<!-- <button class="btn btn-default filter-button" data-filter="spray">PHOTOGRAPHY</button> -->
        				</div>
					</div>
				</div>

				<div class="col-md-12 col-sm-12">
					<div class="portfolio-content-items">
						<div class="row">
							<div class="col-md-4 col-sm-6 col-xs-12 filter hdpe">
								<div class="portfolio-item">
									<div class="portfolio-img">
										<img src="images/img1.jpg" width="100%"> 
									</div>
									<div class="portfolio-overlay">
										<div class="overlay-content">
											<div class="overlay-content-item">
												<p class="category">DESIGN</p>
												<a href="#">
													<div class="magnify-icon">
														<p>
															<span><i class="fas fa-link"></i></span>
														</p>
													</div>
												</a>
												<a href="#">
													<div class="magnify-icon">
														<p>
															<span><i class="fas fa-search"></i></span>
														</p>
													</div>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 filter sprinkle">
								<div class="portfolio-item">
									<div class="portfolio-img">
										<img src="images/img2.jpg" width="100%"> 
									</div>
									<div class="portfolio-overlay">
										<div class="overlay-content">
											<div class="overlay-content-item">
												<p class="category">DESIGN</p>
												<a href="#">
													<div class="magnify-icon">
														<p>
															<span><i class="fas fa-link"></i></span>
														</p>
													</div>
												</a>
												<a href="#">
													<div class="magnify-icon">
														<p>
															<span><i class="fas fa-search"></i></span>
														</p>
													</div>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 mix filter sprinkle">
								<div class="portfolio-item">
									<div class="portfolio-img">
										<img src="images/img3.jpg" width="100%"> 
									</div>
									<div class="portfolio-overlay">
										<div class="overlay-content">
											<div class="overlay-content-item">
												<p class="category">DESIGN</p>
												<a href="#">
													<div class="magnify-icon">
														<p>
															<span><i class="fas fa-link"></i></span>
														</p>
													</div>
												</a>
												<a href="#">
													<div class="magnify-icon">
														<p>
															<span><i class="fas fa-search"></i></span>
														</p>
													</div>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 mix filter spray">
								<div class="portfolio-item">
									<div class="portfolio-img">
										<img src="images/img4.jpg" width="100%"> 
									</div>
									<div class="portfolio-overlay">
										<div class="overlay-content">
											<div class="overlay-content-item">
												<p class="category">DESIGN</p>
												<a href="#">
													<div class="magnify-icon">
														<p>
															<span><i class="fas fa-link"></i></span>
														</p>
													</div>
												</a>
												<a href="#">
													<div class="magnify-icon">
														<p>
															<span><i class="fas fa-search"></i></span>
														</p>
													</div>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 mix filter spray">
								<div class="portfolio-item">
									<div class="portfolio-img">
										<img src="images/img5.jpg" width="100%"> 
									</div>
									<div class="portfolio-overlay">
										<div class="overlay-content">
											<div class="overlay-content-item">
												<p class="category">DESIGN</p>
												<a href="#">
													<div class="magnify-icon">
														<p>
															<span><i class="fas fa-link"></i></span>
														</p>
													</div>
												</a>
												<a href="#">
													<div class="magnify-icon">
														<p>
															<span><i class="fas fa-search"></i></span>
														</p>
													</div>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 mix design">
								<div class="portfolio-item">
									<div class="portfolio-img">
										<img src="images/img6.jpg" width="100%"> 
									</div>
									<div class="portfolio-overlay">
										<div class="overlay-content">
											<div class="overlay-content-item">
												<p class="category">DESIGN</p>
												<a href="#">
													<div class="magnify-icon">
														<p>
															<span><i class="fas fa-link"></i></span>
														</p>
													</div>
												</a>
												<a href="#">
													<div class="magnify-icon">
														<p>
															<span><i class="fas fa-search"></i></span>
														</p>
													</div>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>

